<html>
     <link rel="stylesheet" type="text/css" href="http://localhost:8080/Deployment/home/page/style"/>
 <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <body>
        <header>
            <ul>
                <li class="link"><a href="http://localhost:8080/Deployment/home/page/">Home</a></li>
              </ul>
        </header>
        <div class="form">
            <p class="bold">Add Grade</p>
             <form id="signup-form" @submit.prevent="processForm" @submit="submitProduct">
                <p>Grade Value:</p>
                <input type="text" name="value" v-model="value"/>
                <p>Action</p>
                <input list="actions" name="action" v-model="action">
                <datalist id="actions">
				  <option v-for="option in options" v-bind:value="option">
				  </option>
				</datalist>
                <div class="button-panel">
                <input class="button" type="submit"/>
                </div>
            </form>
        </div>
        
        
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
     //plain javscript ==================================
     //grab the things we need
     const signupForm = document.getElementById('signup-form');
     const valueInput  = signupForm.querySelector('input[name=value]');
     const actionInput = signupForm.querySelector('input[name=action]');

    //listen for the submit event
     signupForm.addEventListener('submit', processSignupForm);
     function processSignupForm(e) {
     e.preventDefault();

     const value = valueInput.value;
     const action =  actionInput.value;

     console.log({ value, action });
     alert('Processing!');
    }

   

    // vue ==========================================
    var app = new Vue({
      el: '#signup-form',
      data: {
    	value: '',
        action: '',
        options: [ 'NEW', 'UPDATE', 'DELETE' ],
        errors: {
          name: false,
          email: false
        }
      },
      methods: {
        processForm: function() {
          console.log({ value: this.value, action: this.action});
          alert('Processing');
        },
      submitProduct: function () {
    	  axios.post('http://localhost:8080/Deployment/home/page/saveGrade', {
    		    value: this.value,
            	action: this.action
            })
        }
      }
    });

    
  </script>
    </body>
</html>
